<?php 

//$wiki = true;

?>
<html>
<style>
    .description {
        color: #424242;
        margin-top: 10px;
        
    }
    .url {
        color: gray;
    }
    .param {
        color: green;
    }
    .val {
        color: black;
        font-weight: bold;
    }
    .req {
        color: #89142a;
    }
</style>
</html>

<h2>Services</h2>

<?php 

$api = $this->api;

foreach($this->methods as $name => $method) {
    
    $description  = $method['description'];
        
    $params = array(
        $this->methodParam => array(
            'value' => $name, 
            'description' => 'Action (method) name',     
        )
    ) + $method['params'];

    if($wiki) { ?>
===<?php echo $name; ?>===        
    <?php } else { ?>
<h4><?php echo $name; ?></h4>        
    <?php } ?>
    
<html>
    <span class="url"><?php echo $api; ?>?<?php 
    
    $i = 0; $k = 1;
    foreach($params as $param => $data) {
        if($i) { 
            ?>&<?php 
        }
        $i++;
        
        $val = $data['value'];
        
        if(!$val) {
            $val = $k;
            $k++;
        }
        
        
        ?><span class='param'><?php echo $param; ?></span>=<span class='val'><?php echo $val; ?></span><?php

    }
    
    ?></span>
</html>    
<div class="description"><?php echo $description; ?></div>
    
<?php 

if(!$wiki) { echo "<ul>"; }

foreach($params as $param => $data) {

    if($wiki) { echo "* "; } else {
        echo "<li> ";
    }
 ?><span class="val"><?php echo $param; ?></span> <?php if($data['description']) { ?> - <?php echo $data['description']; } ?> <?php if($data['required']) { ?><span class="req">(required)</span><?php } if(!$wiki) { echo "</li>"; } echo "\n"; ?><?php



}
if(!$wiki) { echo "</ul>\n\n"; }
 echo "\n\n"; ?><?php } ?>


